div{
    background-color: gray;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
    animation-duration: 4s;
    animation-name: posicion1;
    animation-iteration-count: infinite;
}
@keyframes posicion1 {
    0% {top: 20px; left: 20px;}
    25% {top: 20px; left: 420px;}
    50% {top: 420px; left: 420px;}
    75% {top: 420px; left: 20px;}
}