body{
    background-color: gainsboro;
}
.principal{
    border-radius: 10px;
    display: flex; 
    overflow: hidden;
    width: 800px;
    margin: auto;
    box-shadow: 1px 1px 10px black;    
}
div div{
    width: 20%;
    overflow: hidden;
    transition: width 2s;
   cursor: e-resize;
}
div div:hover{
    width: 140%;
    transition: width 2s;
}
.d1{
    margin-right: -60px;
    width: 35%
}

.d2{
    border-left: 20px solid white;
    transform: skewX(-20deg);
}
.d3{
    border-left: 20px solid white;
    border-right: 20px solid white;
    transform: skewX(-20deg);  
}
.d4{
    margin-left: -60px;
    width: 35%;
}
img{
   
    height: 100%;
}
.i2, .i3{
    transform: skewX(20deg);
    margin-left: -60px;  
}