body{
    text-align: center;
    color: white;
}
.p{
    position: relative;
}
.c1{
    position: absolute;
    top:0;
    left: 100px;
    animation-name: c1;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.c2{
    position: absolute;
    top:0;
    left: 200px;
    animation-name: c2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.c3{
    position: absolute;
    top:0;
    left: 250px;
    animation-name: c3;
    animation-duration: 17s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.c4{
    position: absolute;
    top:0;
    left: 400px;
    animation-name: c4;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes c1 {
  25%  {top:100px;left:300px;}
  50%  {top:200px;left:200px;}
  75%  {top:300px;left:230px;opacity: 1;}
  100% {top:450px;left:150px;opacity: 0;}
}
@keyframes c2 {
    25%  {top:100px;left:200px;}
    50%  {top:250px;left:300px;}
    75%  {top:400px;left:200px;opacity: 1;}
    100% {top:450px;left:150px;opacity: 0;}
}
@keyframes c3 {
    25%  {top:100px;left:200px; }
    50%  {top:250px;left:300px;}
    75%  {top:400px;left:320px;opacity: 1;}
    100% {top:450px;left:350px;opacity: 0;}
}
@keyframes c4 {
    25%  {top:100px;left:430px; }
    50%  {top:250px;left:380px;}
    75%  {top:400px;left:240px;opacity: 1;}
    100% {top:450px;left:300px;opacity: 0;}
}