body{
    display: flex;
    justify-content: center;
}
div{
    width: 200px;
    padding: 0px 10px;
    background-color: gainsboro;
    border-radius: 10px;
    margin: 10px;
}
.ease:hover{
    width: 500px;
    transition: ease 2s;
}
.linear:hover{
    width: 500px;
    transition: linear 2s;
}
.ease-in:hover{
    width: 500px;
    transition: ease-in 2s;
}
.ease-out:hover{
    width: 500px;
    transition: ease-out 2s;
}
.ease-in-out:hover{
    width: 500px;
    transition: ease-in-out 2s;
}