div{
    margin: 30px auto;
}
.recuadro1{
    height: 250px;
    width: 200px;
    padding: 5px 10px;
    background-color: gainsboro;
    border-radius: 20px;
    justify-content: left;
    box-shadow: 0px 0px 15px 5px limegreen,inset 0px 0px 15px 5px red;
}