p{
    width: 450px;
    height: 120px;
    padding: 20px;
}
.primero span{
    color: red;
}
.segundo span{
    color: blue;
}
.tercero span{
    color: white;
}
.primero{
    border: 4px red solid;
    margin-left: 40px;
    background-color: blue;
}
.segundo{
    border: 8px green double;
    margin-top: 40px;
    background-color: red;
}
.tercero{
    border: 12px blue dashed;
    border-bottom: 6px red dotted;
    margin-left: 60px;
    background-color: green;
}