div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px
}
.recuadro1{
    height: 250px;
    width: 200px;
    padding: 0px 10px;
    background-color: gainsboro;
    border: 2px solid gainsboro;
    border-radius: 20px 0px;
    justify-content: left;
}
.recuadro2{
    height: 250px;
    width: 200px;
    padding: 0px 10px;
    background-color: olive;
    border: 2px solid olive;
    border-radius: 0px 40px 0px 0px;
    justify-content: left;
}