body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div{
    margin: 10px;
    padding: 20px;
    width: 300px;
    height: 150px;
    background-color: yellow;
    border: 15px solid darkgrey;
    background-image: url(../imagenes/casa.png);
    background-repeat: no-repeat;
}
.recuadro1{
    background-origin: border-box;
}
.recuadro2{
    background-origin: padding-box;
}
.recuadro3{
    background-origin: content-box;
}