div{
    column-count: 3;
    background-color: rgba(128, 128, 128, 0.466);
    margin: 2em;
    border-radius: 2em;
    padding: 1.1em;
}
.recuadro1{
    column-rule: 1px solid red;
}
.recuadro2{
    column-rule: 3px dashed red;
}
.recuadro3{
    column-rule: 2px dashed blue;
}