body{
   color:red;
    margin-left: 300px;
    display:flex;
}
div{
    padding: 1.2em;
    margin-left: 2em;
    margin-right: 2em;
    height: 250px;
    width: 250px;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.397);
}
.recuadro1{
    font-family: Niconne;
}
@font-face {
    font-family: Niconne;
    src: url(../fonts/Niconne-Regular.ttf);
}

.recuadro2{
    font-family: 'Barrio', cursive;
}