body{
    background-color: saddlebrown;
}
body > div{
    display: table;
    border-spacing: 5px;
    border-collapse: separate;
    height: 640px;
    table-layout: fixed;
    width:100%;
    text-align: justify;
}
body > div > div{
    display: table-row;
}
div p{
    display: table-cell;
    background-color: darkorange;
    color: white;
    padding: 10px;

}