.contenedor{
    background-color: black;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    height: 220px;
    width: 370px;
    padding: 5px;
    margin: auto;
}
#d1{
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: grey;
    color: white;
    margin-right: 5px;
}
#d2{
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: grey;
    color: white;
    margin-right: 5px;
}
#d3{
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: grey;
    color: white;
    margin-right: 5px;

}
#d4{
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: grey;
    color: white;
    flex-grow: 0.3;
    margin-right: 5px;

}