body{
    background-color: black;
    color: white;
    text-align: center;
}
body > *{
    background-color: cadetblue;
    border-radius: 10px;
    
}
body *{
    padding: 5px;
    margin: 5px;
}
article{
    background-color: darkblue;
    border-radius: 10px;
}
header{
    grid-area: head;
}
nav{
    grid-area: nav;
}
section{
    grid-area: section;
}
aside{
    grid-area: aside;
}
footer{
    grid-area: foot;
}
@media (max-width: 400px){
    body{
        display: grid;
        grid-template-areas:"head" "nav" "section" "aside" "foot";
    }
}
@media (min-width: 400px) and (max-width: 800px){
    body{
        display: grid;
        grid-template-areas:"head head" "nav nav" "section aside" "foot foot";
        margin: auto;
    }
}
@media (min-width: 800px){
    body{
        display: grid;
        grid-template-areas:"head head" "nav nav" "section aside" "foot foot";
        width: 800px;
        margin: auto;
    }
}
