body{
    margin: 0;
    text-align: center;
}
.contenedor *{
    padding: 10px;
}
div[class^="c"]{
    padding-bottom: 100px;
}
header{
    color: white;
    background-color: gray;
}
.contenedor2{
    padding: 0;
}
.c1{
    grid-area: c1;
    background-color: lightgreen;
}
.c2{
    grid-area: c2;
    background-color: forestgreen;
}
.c3{
    grid-area: c3;
    background-color: darkseagreen;
}
@media (max-width: 600px){
    .contenedor2{
        display: grid;
        grid-template-areas:"c1" "c2" "c3";
        text-align: center;
    }
}
@media (min-width:600px) and (max-width: 900px){
    .contenedor2{
        display: grid;
        grid-template-areas:"c1 c1" "c2 c3";
        text-align: center;
    }
}
@media (min-width:900px){
    .contenedor2{
        display: grid;
        grid-template-areas:"c1 c1" "c2 c3";
        width: 900px;
        text-align: center;
        margin: auto;
    }
}