body{
    background-color: purple;
    color: white;
    font-weight: bold;
    font-family: arial;
}
nav a{
    background-color: white;
    color: purple;
    border-radius: 5px;
    padding: 2px;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
li{
    margin-bottom: 10px;
}
nav a:hover{
    color: white;
    background-color: lightgrey;
    border-radius: 0px 5px;
}
li a{
    color: white;
    text-decoration: none;
}
li a:hover{
    color: skyblue;
}
@media (min-width: 600px){
    nav{
        position: absolute;
        right: 10px;
        top: 20px;
    }
    img{
        width: 70%;
    }
    ul{
        position: absolute;
        right: 10%;
        top: 120px;
    } 
}
@media (min-width: 400px) and (max-width:600px){
    h1{
        text-align: center;
    }
    ul{
        position: absolute;
        right: 10%;
        top: 120px;
    } 
    img{
        width: 70%;
    }
    nav {
        display: flex;
        justify-content:center;
        margin-bottom: 10px;
    }
    nav a{
        margin: 0px 5px;
    }
}
@media (max-width: 400px){
    img{
        width: 100%;
    }
    nav a{
        display: block;
        margin-bottom: 5px
    }
    h1{
        text-align: center;
    }
    ul{ 
        width: 100%;
        margin: auto;
        padding: 0;
        text-align:center;
    } 
    li{ 
        display:inline; 
    }
}