body{
    background-color: #366;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.nivel1 li{
    width: 162px;
    margin: 2px;
}
a{
    background-color: #399;
    color: white;
    border: 1px solid white;
    padding: 8px;
    text-align: center;
}