body{
    display: grid;
}
.boton{
    text-decoration:none;
    background-color: #EEE;
    color: #222;
    border: 2px outset #CCC;
    padding: 3px 15px;
}
.boton:hover{
    background-color: #CCB;
}
.boton:active{
    border: 2px inset #000;
}