header{
    position: absolute;
    width: 100%;
    background-color: rgba(199,199,199,0.8);
    padding: 10px;
    z-index: 2;
}
header h1{
    text-align: center;
}
header div *{
    position: absolute;
}
header div input{
    right: 30px;
    top: 33%;
    width: 100px;
    border-radius: 5px;
}