*{
    padding: 0;
    margin: 0;
}
body{
display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 57px 1fr 1fr;  
  grid-template-areas: 
    "swiper swiper swiper"
    "cuerpo cuerpo cuerpo"
    "menu menu menu"; 
}
.swiper-slide img{
    height: 100%
}

.swiper { grid-area: swiper; }
.cuerpo { grid-area: cuerpo; }
.menu { grid-area: menu; }
