body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "d1 d1 d1"
        "d2 d0  d3" "d2 d4 d4";
}
#d1{
    grid-area: d1;
    background-color: blue;
    border: 3px solid;
}
#d2{
    grid-area: d2;
    background-color: red;
    border: 3px solid;
}
#d3{
    grid-area: d3;
    background-color: green;
    border: 3px solid;
}
#d4{
    grid-area: d4;
    background-color: yellow;
    border: 3px solid;
}