.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 700px;
    margin: auto;
}
div *{
    background-color: orangered;
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin: 5px;
}