body{
    display: flex;
    flex-wrap: wrap;
}
header{
    background-color: antiquewhite;
    width: 100%;
    padding-bottom: 50px;
    box-shadow: inset 0 0 2px 2px grey;
}
nav{
    background-color: mediumaquamarine;
    width: 20%;
    box-shadow: inset 0 0 1px 2px grey;
}
article{
    background-color: darkseagreen;
    width: 60%;
    padding-bottom: 400px;
    box-shadow: inset 0 0 2px 2px grey;
}
aside{
    background-color: mediumaquamarine;
    width: 20%;
    box-shadow: inset 0 0 2px 2px grey;
}
footer{
    background-color: antiquewhite;
    width: 100%;
    padding-bottom: 50px;
    box-shadow: inset 0 0 2px 2px grey;
}