.recuadro1{
   background-origin: border-box;
}
.recuadro2{
   background-origin: padding-box; 
}
.recuadro3{
   background-origin: content-box; 
}
   
div{
   background-color:#ff0;
   background-image: url("../imagenes/casa.png");
   background-repeat: no-repeat;
   border: 20px solid #eee;
   margin: 10px;
   padding: 20px;
   width:300px;
}
body{
   display: flex;
   justify-content: center;
}  