.recuadro1{
  border-right: 1px solid #f00;
}
.recuadro2{
  border: 3px dotted #f00;
}
.recuadro3{ 
  border: 2px dashed #00f;    
}
div{
  background-color:#ddd;
  border-radius: 20px;  
  column-count:3;
  margin:10px auto;
  padding:10px;
}