body{
    text-align: center;
    margin: 0;
}
h1{
    text-shadow: 
}
div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}
figure{
    border: 1px solid black;
    width: 115px;
    padding: 10px 10px 0px 10px;
    margin: 15px;
}
img{
    width: 115px;
}
.img2{
    filter: hue-rotate(200deg);
}
.img3{
    filter: brightness(3);
}
.img4{
    filter: contrast(10);
}
.img5{
    filter: saturate(10);
}
.img6{
    filter: invert(1);
}
.img7{
    filter: grayscale(1);
}
.img8{
    filter: sepia(1);
}
.img9{
    filter: blur(4px);
}
.img10{
    filter: opacity(0.3);
}
img:hover, video:hover{
    filter:none;
    transition: all 0.5s ease;
}
video{
    filter: grayscale();
}