span {
	font-weight:bold;
}
.primero span {	
	color:red;
}
.segundo span {	
	color:blue;
}
.tercero span {	
	color:white;
}
p{
    height:120px;
	padding: 20px;
	width:450px;
}
.primero {
	background-color: blue;    
    border: 4px solid red;
	border-right:none;
    font-size:1em;	
    margin-left:30px; 
}
.segundo {
	background-color: red;    
    border: 8px double green;
    font-size:1.2em;
	margin-top:40px; 
}
.tercero {
	background-color: green;    
    border:12px dotted blue;
	border-bottom: 6px dotted red;
    font-size:.8em;
	margin-left:60px; 	
}


