body {
    color: grey;
}

/*ESTILO DE CLASES*/

.verdes {
    color: green;
}
.azules {
    color: blue;
}
.rojo {
    color:red;
}
.azules:nth-last-of-type(odd){
    font-style: oblique;
}
.azules:nth-last-of-type(even) {
    background-color: aqua;
}
.azules{
    text-shadow: 2px 2px #4c485f;
}


/*Estilo de Atributo*/
il:last-of-type {
    text-decoration: overline;
}

/*El primer elemento*/

li:first-of-type{
    text-align: right
}
/*Añadir comentarios de antes y después del color verde */
.verdes::before{
    content: "Estoy antes de los de color verde";
}

.verdes::after{
    content: "Estoy tras los de color verde";
}