body{
    background-color: skyblue;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-areas: "i1 i1"
        "i2 i3"
        "i4 i4";
}
.grid-item1{
    display: grid;
    grid-template-columns: repeat(5, 90px);
    text-align: center;
    text-transform: capitalize;
    justify-content: flex-end;
    grid-area: i1;
}
.grid-item1 p{
    padding: 10px 0px;
}
.grid-item1 p:last-of-type{
    color: white;
    background-color: black;
    border-radius: 3px;
}
.grid-item2{
    grid-area: i2;
    text-align: center;
    font-family: impact;
    line-height:70px;
}
.grid-item2 p:last-of-type{
    background-color: white;
    border-radius: 3px;
    margin: auto;
    width: 110px;
}
.grid-item3{
    grid-area: i3;
    background-image: url(../img/Aurpegia.jpg);
    background-repeat: no-repeat;
    background-size: 400px;
    box-shadow: inset 0px 0px 10px 10px white;
}
.grid-item4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: i4;
    padding-left: 40px;
    padding-right: 40px;
}
.grid-item4 article{
    position: relative;
    color: grey;
    text-align: justify;
    padding-left: 60px;
}
.grid-item4 h2{
    position: absolute;
    color: grey;
    left: 0px;
    top: 0px;
    font-size: 50px;
}
.grid-item4 span{
    position: absolute;
    color: skyblue;
    padding: 5px;
    font-size: 30px;
    text-shadow: 8px 4px 0px black;
}