body{
    font-family: 'Roboto';
    background-color: dimgrey;
    display: grid;
    grid-template-areas:
    'cabeza cabeza cabeza'
    'menu menu menu'
    'pie pie pie';
    color: white;
}
h1,h2,h3,h4,h5,h6,a{
    font-family: 'Bebas Neue';
}
header{
    grid-area: cabeza;
}
.title{
    text-align: center;
    letter-spacing: 0.25em;
    word-spacing: 1em;
    white-space: nowrap;
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    font-size: 150%;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}
nav a {
    color: black;
    font-weight: bold;
}
video{
    width: 100%;
}
main{
    text-align: justify;
    grid-area: menu;
}
h2{
    display: inline;
}
hr{
    border: dimgrey;
}
main section:last-of-type{
    display: none;
}
.marte{
    display: none;
}
.logo{
    position: fixed;
    z-index: -1;
    left: 25%;
    top:25%;
}
.ciclista{
    display: none;
}
footer{
    border-top: white solid 3px;
    padding-top: 15px;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    grid-area: pie;
}
@media (min-width: 550px) and (max-width: 960px) {
    nav{
        background-color: dimgray;
    }
    nav a{
        background-color: green;
        color: white;
        font-weight: normal;
        padding: 5px 4%;
        border-radius: 20px;
        text-decoration: none;
    }
    section{
        column-count: 2;
        column-rule: white solid;
        margin-top: 10px;
    }
    aside{
        display: none;
    }
    footer{
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: row;
    }
}
@media (min-width: 960px) {
    body{
        background-image: url(../img/fondohojas.png);
        background-repeat: repeat-x;
        background-position: bottom;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            'cabeza cabeza cabeza'
            'logo menu marte';
    }
    .titleOrden{
        display: flex;
        flex-direction: column-reverse;
        width: 960px;
        margin: auto;
    }
    nav{
        justify-content: space-around;
    }
    nav a{
        text-decoration: overline;
    }
    main{
        column-count: 3;
        column-rule: white solid;
        text-align: left;
        border-bottom: solid white;
    }
    main::first-line{
        border: solid white 3px;
        width: 100%;
    }
    main section:last-of-type{
        display: inline;
    }
    main section:not(last-of-type){
        display: none;
    }
    aside{
        display: block;
        border-bottom: solid white;
        margin-right: 30px;
        margin-left: 30px;
    }
    .logo{
        grid-area: logo;
        position: static;
    }
    .logo div{
        position: relative;
        top: 10%;
        text-align: center;
    }
    .marte{
        display: block;
        text-align: center;
        grid-area: marte;
    }
    .marte video{
        width: 100%;
    }
    footer{
        visibility: hidden;
    }
    .ciclista{
        position: relative;
        bottom: -110px;
        display:inline-block; 
        vertical-align:bottom;
        animation-name: moverCiclista;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-delay: -2s;
    }
    .ciclista:hover{
        animation-play-state: paused;
    }
    .ciclista2{
        position: relative;
        animation-play-state: paused;
        animation-name: moverCiclista2;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-delay: -2s;
    }
    .ciclista2:hover{
        animation-play-state: running;
    }
    @keyframes moverCiclista {
        0% {right: 0px;}
        10% {content: url('../img/bici2v2.png');}
        75% {content: url('../img/bici3v2.png');}
        100% {right: 1800px;  }
}
    @keyframes moverCiclista2 {
        0% {left:-100px; top: 50px; }
        100% {left:140px; top: 150px; opacity: 0%}
}
}